<div class="container-fluid" id="header">
    <h1>Burgas!</h1>
</div>

<div class="container-fluid" id="menu-container">
    <div id="left">
        <div>
            <h2>Burger Menu:</h2>
        </div>
        <div>
            <ol>
                {{#each burgers}}
                {{#unless devoured}}
                {{> burgers/burger-block devour=true}}
                {{/unless}}
                {{/each}}
            </ol>
        </div>

    </div>

    <div id="right">
        <h2>Sold Out:</h2>

        <ol>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/burger-block devour=false}}
            {{/if}}
            {{/each}}
        </ol>
    </div>

</div>


<div class="container-fluid" id="cooking">
    <div id="create">
        <h2>Create a Burger</h2>
        <form class="create-form mb-3 container">

            <div class="form-group">
                <label class="form-label" for="ca">Burger Name:</label>
                <input type="text" id="ca" name="name" class="form-control" placeholder="The Say Cheese Burger">
            </div>

            <div class="form-group">
                <label for="devoured">On the menu?</label><br>
                <input type="radio" name="devoured" value="1" class="form-check-input" checked> Sold Out!<br>
                <input type="radio" name="devoured" value="0" class="form-check-input"> Available
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>