/* this one! */
body{
    background-image: url(https://media1.popsugar-assets.com/files/thumbor/s_s7XO8SyyICpHz8CLm0cCbp9wA/fit-in/1024x1024/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/956/n/1922507/4dadda3b58741b2d_bob_s_burgers/i/Bob-Burgers-Zoom-Background.png);
    background-size: cover;
}

#header, #cooking{
    display: flex;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.945);
    width: 25vw;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

#menu-container{
    display: flex;
    justify-content: space-evenly;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create{
    text-align: center;
}

::placeholder{
    font-style: italic;
}

li{
    font-size: 20px;
}

#right, #left{
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 10px;
    padding: 1%;
}